<div>
  <div class="FoxDiv20210423224041784414">
    <div id="frame" style="margin: auto; width: 375px; height: 667px">
      <div
        id="topBar"
        style="
          height: 50px;
          line-height: 50px;
          text-align: center;
          color: rgba(255, 255, 255, 0.843137);
          font-size: 20px;
          background-image: initial;
          background-attachment: initial;
          background-color: rgb(0, 121, 212);
          background-size: initial;
          background-origin: initial;
          background-clip: initial;
          background-position: initial;
          background-repeat: initial;
        "
      >
        我想购买
      </div>
      <div id="trail_form">
        <div id="form_div" style="padding: 0px 16px 16px">
          <label
            for="hospitalName"
            class="input_lablel"
            style="
              color: rgb(187, 187, 187);
              font-size: 16px;
              display: block;
              margin-left: 16px;
              margin-top: 16px;
            "
            >单位还是个人购买: {{per_com}}</label
          >

          <label
            for="city"
            class="input_lablel"
            style="
              color: rgb(187, 187, 187);
              font-size: 16px;
              display: block;
              margin-left: 16px;
              margin-top: 16px;
            "
            >单位名称: {{company}}</label
          >

          <label
            for="user"
            class="input_lablel"
            style="
              color: rgb(187, 187, 187);
              font-size: 16px;
              display: block;
              margin-left: 16px;
              margin-top: 16px;
            "
            >单位所在城市: {{city}}</label
          >

          <label
            for="applicant"
            class="input_lablel"
            style="
              color: rgb(187, 187, 187);
              font-size: 16px;
              display: block;
              margin-left: 16px;
              margin-top: 16px;
            "
            >您的姓名: {{name}}</label
          >

          <label
            for="contact"
            class="input_lablel"
            style="
              color: rgb(187, 187, 187);
              font-size: 16px;
              display: block;
              margin-left: 16px;
              margin-top: 16px;
            "
            >您的联系方式 (手机或固定电话): {{contact}}</label
          >

          <label
            for="prod"
            class="input_lablel"
            style="
              color: rgb(187, 187, 187);
              font-size: 16px;
              display: block;
              margin-left: 16px;
              margin-top: 16px;
            "
            >产品: {{prod}}</label
          >

          <label
            for="model"
            class="input_lablel"
            style="
              color: rgb(187, 187, 187);
              font-size: 16px;
              display: block;
              margin-left: 16px;
              margin-top: 16px;
            "
            >型号: {{model}}</label
          >

          <label
            for=""
            class="input_lablel"
            style="
              color: rgb(187, 187, 187);
              font-size: 16px;
              display: block;
              margin-left: 16px;
              margin-top: 16px;
            "
            >数量: {{amount}}</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
